<div class="splash">
    <img src="/images/header/free-splash.png" alt="Free festival"/>
    <a href="https://www.surveymonkey.com/s/GVZJ3X5" class="splash-volunteer">We want your feedback!</a>
    <div class="social-media-icons">
        <a href="https://www.facebook.com/CrystalPalaceFestival" class="facebook"><img width="25" src="/images/icons/facebook.png" alt="Facebook" /></a>
        <a href="https://twitter.com/se19festival" class="twitter"><img width="25" src="/images/icons/twitter.png" alt="Facebook" /></a>
    </div>
</div>
<header class="header">
    <div class="row">
        <div class="columns large-9">
            <a href="/"><img src="/images/header/logo.png" alt="Crystal Palace Festival 2013"/></a>
        </div>
    </div>
    <div class="row">
        <div class="columns large-9">
            <p class="header-date">27 &ndash; 30 June 2013 | Westow Park &amp; The Triangle</p>
        </div>
    </div>
</header>
