<div class="page-sidebar">
    <h4>Facilities</h4>
    <p>Facilities in the park include food court, three festival bars, festival HQ and meeting point,
        St John’s Ambulance, toilets (kids’ zone and lower end of park), community information and festival
        stewards to keep you safe.</p>
    <h4>Volunteer</h4>
    <p>For more information about volunteering at the festival and if you can
        spare just 4 hours to help please visit our <a href="/get-involved">volunteer page</a>.</p>

</div>