<div class="page-sidebar">
    <h4>Our programme</h4>
    <p>For a full programme of events <a href="/info/programme">visit the programme page</a>.</p>

    <h4>Need directions</h4>
    <p>If you're coming from afar and need directions, please visit the <a href="/info/travel">Getting Here</a> page.</p>

    <h4>Can you help us?</h4>
    <p>For more information about volunteering at the festival and if you can
        spare just 4 hours to help please visit our <a href="/volunteer">volunteer page</a>.</p>
</div>