<div class="row">

    <div class="large-6 columns">
        <ul data-orbit>
            <li>
                <img src="/images/orbit/1950sgroup.jpg" />
                <div class="orbit-caption">...</div>
            </li>
            <li>
                <img src="/images/orbit/elvis.jpg" />
                <div class="orbit-caption">...</div>
            </li>
            <li>
                <img src="/images/orbit/1950sgroup.jpg" />
                <div class="orbit-caption">...</div>
            </li>
        </ul>

    </div>
</div>